@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 666px;
    box-sizing: border-box;
    background: #C4C4C4;
    margin: 30px auto;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    width: 500px;
    box-sizing: border-box;
    height: 60px;
    border: none;
    outline: none;
    font-size: 48px;
    line-height: 56px;
    padding: 5px 12px;
}

.autocomplite {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 500px;
    max-height: 250px;
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}

.autocomplite--hidden {
    max-height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}


.autocomplite__item {
    width: 100%;
    background: #E3E3E3;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-size: 30px;
    padding: 5px 12px;
    min-height: 44px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplite__item:hover {
    background: #65CDF9;
}

.repo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 500px;
    margin-top: 50px;
}

.repo {
    display: flex;
    justify-content: space-between;
    background: #E27BEB;
    border: 1px solid #000000;
    min-height: 100px;
    align-items: center;
}

.repo__link {
    color: #000000;
    text-decoration: none;
}

.repo__info {
    list-style: none;
    padding: 0;
    margin: 8px 16px;
    font-size: 24px;
    line-height: 28px;
    max-width: 75%;
}

.error {
    font-size: 24px;
    /* line-height: 58px; */
    padding: 25px 15px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.413);
    width: 100%;

}

.close {
    width: 40px;
    height: 40px;
    background: url(./img/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 34px;
    cursor: pointer;
    transition: .4s;
}

.close:hover {
    transform: scale(1.2);
}

.remove-animation {
    transform: translateX(-100%);
    opacity: 0;
    transition: all .3s;
}

.spinner {
    display: none;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}